{% extends "pages/base_contact.html" %}

{% block content %}

    <div class="container">  
    
     
            <section>
                <h2>Storytelling</h1>
                <p><em>Communicating the substance of your metrics in a visual way.</em></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <a href="#">Try It!</a>
            </section>
            <hr>
            <section>
                <h2>My Data</h1>
                <p><em>Access, publish and see your data in real time.</em></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <a href="#">Try It!</a>    
            </section>
            <hr>
            <section>
                <h2>My Goals</h1>
                <p><em>Actually track your New Year's Resolution.</em></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <a href="#">Try It!</a>
            </section>

          
       
    </div>

{% endblock content %}